body {
  background-image: url(../medios/fondo4.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

main {
  flex: 1;
}

header {
  font-family: "Georgia", serif;
  background-color: #FF81A5;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 100;
}
header .logo {
  margin-left: 30px;
  display: flex;
}
header .navbar {
  display: flex;
  margin-right: 10px;
}
header .navbar a {
  display: flex;
  padding: 23px 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header .navbar a:hover {
  background-color: #FF92CB;
}

.portada {
  padding-top: 40px;
}
.portada img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  min-height: 300px;
  padding-top: 40px;
}

h1 {
  padding: 1rem;
  color: #FF81A5;
}

h2 {
  color: #a52a2a;
}

.bio {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.caja {
  background-color: #FF81A5;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  color: white;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.caja .bio h2 {
  margin-bottom: 10px;
}
.caja .bio p {
  line-height: 1.6;
}

.portada h1 {
  padding-left: 80px;
}

.discografia {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 2rem;
  margin: auto;
  padding-bottom: 70px;
  align-items: center;
  justify-content: center;
}
.discografia .album {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s, background-color 0.3s;
  animation: aparecer 0.8s ease-in-out;
  justify-content: center;
}
.discografia .album:hover {
  background-color: rgba(180, 180, 180, 0.5411764706);
  transform: scale(1.05);
}
.discografia .album:hover img {
  animation: spin 3s linear infinite;
}
.discografia .album img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  border-radius: 50%;
  border: 8px solid black;
  object-fit: cover;
  transition: transform 0.6s linear;
}
.discografia .album h3 {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contactos {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 10% 20px;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}
.contactos h1 {
  margin-bottom: 15px;
  font-size: 30px;
  color: #FF81A5;
}
.contactos p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.contactos form {
  align-items: center;
}
.contactos form .campo, .contactos form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 3px;
  display: flex;
}
.contactos form textarea {
  height: 200px;
  resize: none;
}
.contactos form .btn-enviar {
  background-color: #FF81A5;
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.contactos form .btn-enviar:hover {
  background-color: rgb(255, 141.6, 174);
  transform: scale(1.05);
}
.contactos form .btn-enviar:active {
  background-color: rgb(255, 90.6, 137.5714285714);
  transform: scale(0.98);
}
.contactos form .btn-enviar {
  transition: background 0.3s;
}
.contactos form .btn-enviar:hover {
  background: #FF92CB;
}

footer {
  background-color: #FF81A5;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
}
footer .foot-text {
  font-size: 14px;
  padding-left: 30px;
}
footer .redes {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 30px;
  margin: 15px;
}
footer .redes a img {
  transition: transform 0.3s ease-in-out;
}
footer .redes a img:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .contactos {
    grid-template-columns: 1fr;
    text-align: center;
    width: 90%;
  }
  .contactos form {
    margin: auto;
    width: 80%;
  }
  .portada img {
    padding-top: 40px;
    min-height: 300px;
  }
  .portada h1 {
    padding-left: 30px;
  }
}
@media (max-width: 575px) {
  header {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .portada img {
    padding-top: 100px;
    min-height: 250px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .contactos {
    padding-top: 150px;
  }
  .discografia {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
