
body {
  font-family: "Roboto Serif", serif;
  margin: 0;
  background-color: #edece8;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-family: "Roboto Serif", serif;
  background-color: #FF81A5;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

main {
  flex: 1; /* ocupa todo el espacio disponible */
}

.logo{
  margin-left: 30px;
}

.logo a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar{
  display: flex;
  margin-right: 10px;
}

.navbar a{
  display: block;
  padding: 23px 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a:hover{
  background-color: #FF92CB;
}

.portada-album img {
  padding-top: 65px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

.portada img{
  padding-top: 40px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  
}

section {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

h1{
  padding: 1rem;
  color: #FF81A5;
}

h2 {
  color: #a52a2a;
}

a {
  color: #FF81A5;
  text-decoration: none;
  font-weight: bold;
}

.discografia {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.album:hover{
  background-color: #ffd9e9;
}

.discografia img {
  width: 100%;
  height: auto;
  max-width: 200px;
  border-radius: 8px;
}

.discografia p {
  font-size: 20px;
  color: black;
}


.contactos {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  padding: 100px 20px; 
}

.contactos h1{
  margin-bottom: 15px;
  font-size: 30px;
}

.contactos p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.contactos form .campo , textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 3px;
}

.contactos form.textarea{
  max-width: 300px;
  min-width: 300px;
  max-height: 100px;
  min-height: 100px;
}

.contactos .btn-enviar{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #FF81A5;
}

@media (max-width: 768px) {
  .contactos {
    grid-template-columns: 1fr;
    padding: 80px 20px;
    text-align: center;
  }

  .contactos form {
    margin: auto;
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    padding: 10px;
    font-size: 16px;
  }

  .contactos {
    padding: 60px 15px;
  }
}

footer {
  background-color: #FF81A5;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  flex-wrap: wrap;
}

.footer-text {
  font-size: 14px;
}

.redes {
  display: flex;
  gap: 15px;
}